In [29]:
import pyspark
from pyspark.sql import SparkSession

In [30]:
import os
os.environ['PYSPARK_PYTHON'] = "C:/users.Administrator/AppData/Local/Programs/Python/Python311/python.exe"
os.environ['PYSPARK_DRIVER_PYTHON'] = "C:/Users/Adminstrator/AppData/Local/Programs/Python/Python311/python.exe"

In [31]:
from pyspark.sql.functions import *

In [32]:
spark = SparkSession.builder.appName('DateTime').getOrCreate()

In [33]:
# withColums() is used to add new column to the existing data frame
df = spark.range(5).withColumn('Today', current_date()).withColumn('New', current_timestamp())

In [34]:
df.show()

+---+----------+--------------------+
| id|     Today|                 New|
+---+----------+--------------------+
|  0|2025-10-16|2025-10-16 10:07:...|
|  1|2025-10-16|2025-10-16 10:07:...|
|  2|2025-10-16|2025-10-16 10:07:...|
|  3|2025-10-16|2025-10-16 10:07:...|
|  4|2025-10-16|2025-10-16 10:07:...|
+---+----------+--------------------+

In [35]:
df = df.withColumn('New Date', date_add('Today', 5))
df = df.withColumn('Prev Date', date_sub('Today', 5))
df.show()

+---+----------+--------------------+----------+----------+
| id|     Today|                 New|  New Date| Prev Date|
+---+----------+--------------------+----------+----------+
|  0|2025-10-16|2025-10-16 10:07:...|2025-10-21|2025-10-11|
|  1|2025-10-16|2025-10-16 10:07:...|2025-10-21|2025-10-11|
|  2|2025-10-16|2025-10-16 10:07:...|2025-10-21|2025-10-11|
|  3|2025-10-16|2025-10-16 10:07:...|2025-10-21|2025-10-11|
|  4|2025-10-16|2025-10-16 10:07:...|2025-10-21|2025-10-11|
+---+----------+--------------------+----------+----------+

In [37]:
df.select(abs(datediff('Prev Date', 'New Date'))).show()

+----------------------------------+
|abs(datediff(Prev Date, New Date))|
+----------------------------------+
|                                10|
|                                10|
|                                10|
|                                10|
|                                10|
+----------------------------------+

In [39]:
df = df.withColumn('String Date', lit('21-10-2025'))
df.show()

+---+----------+--------------------+----------+----------+-----------+
| id|     Today|                 New|  New Date| Prev Date|String Date|
+---+----------+--------------------+----------+----------+-----------+
|  0|2025-10-16|2025-10-16 10:08:...|2025-10-21|2025-10-11| 21-10-2025|
|  1|2025-10-16|2025-10-16 10:08:...|2025-10-21|2025-10-11| 21-10-2025|
|  2|2025-10-16|2025-10-16 10:08:...|2025-10-21|2025-10-11| 21-10-2025|
|  3|2025-10-16|2025-10-16 10:08:...|2025-10-21|2025-10-11| 21-10-2025|
|  4|2025-10-16|2025-10-16 10:08:...|2025-10-21|2025-10-11| 21-10-2025|
+---+----------+--------------------+----------+----------+-----------+

In [40]:
df.printSchema()

root
 |-- id: long (nullable = false)
 |-- Today: date (nullable = false)
 |-- New: timestamp (nullable = false)
 |-- New Date: date (nullable = false)
 |-- Prev Date: date (nullable = false)
 |-- String Date: string (nullable = false)

In [47]:
df = df.withColumn('Proper Date', to_date('String Date', 'dd-MM-yyyy'))
df.show()

+---+----------+--------------------+----------+----------+-----------+-----------+
| id|     Today|                 New|  New Date| Prev Date|String Date|Proper Date|
+---+----------+--------------------+----------+----------+-----------+-----------+
|  0|2025-10-16|2025-10-16 10:12:...|2025-10-21|2025-10-11| 21-10-2025| 2025-10-21|
|  1|2025-10-16|2025-10-16 10:12:...|2025-10-21|2025-10-11| 21-10-2025| 2025-10-21|
|  2|2025-10-16|2025-10-16 10:12:...|2025-10-21|2025-10-11| 21-10-2025| 2025-10-21|
|  3|2025-10-16|2025-10-16 10:12:...|2025-10-21|2025-10-11| 21-10-2025| 2025-10-21|
|  4|2025-10-16|2025-10-16 10:12:...|2025-10-21|2025-10-11| 21-10-2025| 2025-10-21|
+---+----------+--------------------+----------+----------+-----------+-----------+

In [48]:
df = df.withColumn('Formatted Date', date_format(to_date('String Date', 'dd-MM-yyyy'), 'dd-MM-yyyy'))
df.show()

+---+----------+--------------------+----------+----------+-----------+-----------+--------------+
| id|     Today|                 New|  New Date| Prev Date|String Date|Proper Date|Formatted Date|
+---+----------+--------------------+----------+----------+-----------+-----------+--------------+
|  0|2025-10-16|2025-10-16 10:14:...|2025-10-21|2025-10-11| 21-10-2025| 2025-10-21|    21-10-2025|
|  1|2025-10-16|2025-10-16 10:14:...|2025-10-21|2025-10-11| 21-10-2025| 2025-10-21|    21-10-2025|
|  2|2025-10-16|2025-10-16 10:14:...|2025-10-21|2025-10-11| 21-10-2025| 2025-10-21|    21-10-2025|
|  3|2025-10-16|2025-10-16 10:14:...|2025-10-21|2025-10-11| 21-10-2025| 2025-10-21|    21-10-2025|
|  4|2025-10-16|2025-10-16 10:14:...|2025-10-21|2025-10-11| 21-10-2025| 2025-10-21|    21-10-2025|
+---+----------+--------------------+----------+----------+-----------+-----------+--------------+

In [50]:
df.printSchema()

root
 |-- id: long (nullable = false)
 |-- Today: date (nullable = false)
 |-- New: timestamp (nullable = false)
 |-- New Date: date (nullable = false)
 |-- Prev Date: date (nullable = false)
 |-- String Date: string (nullable = false)
 |-- Proper Date: date (nullable = true)
 |-- Formatted Date: string (nullable = true)

In [52]:
df.select(quarter(to_date(lit('2025-10-16')))).show()

+----------------------------+
|quarter(to_date(2025-10-16))|
+----------------------------+
|                           4|
|                           4|
|                           4|
|                           4|
|                           4|
+----------------------------+

In [53]:
df.select(year(to_date(lit('2025-10-16')))).show()

+-------------------------+
|year(to_date(2025-10-16))|
+-------------------------+
|                     2025|
|                     2025|
|                     2025|
|                     2025|
|                     2025|
+-------------------------+

In [54]:
df.select(month(to_date(lit('2025-10-16')))).show()

+--------------------------+
|month(to_date(2025-10-16))|
+--------------------------+
|                        10|
|                        10|
|                        10|
|                        10|
|                        10|
+--------------------------+

In [55]:
df.select(weekofyear(to_date(lit('2025-10-16')))).show()

+-------------------------------+
|weekofyear(to_date(2025-10-16))|
+-------------------------------+
|                             42|
|                             42|
|                             42|
|                             42|
|                             42|
+-------------------------------+

In [56]:
df.select(dayofweek(to_date(lit('2025-10-16')))).show()

+------------------------------+
|dayofweek(to_date(2025-10-16))|
+------------------------------+
|                             5|
|                             5|
|                             5|
|                             5|
|                             5|
+------------------------------+

In [58]:
df.select(date_format(col('Proper Date'), 'EEEE')).show()

+------------------------------+
|date_format(Proper Date, EEEE)|
+------------------------------+
|                       Tuesday|
|                       Tuesday|
|                       Tuesday|
|                       Tuesday|
|                       Tuesday|
+------------------------------+